.burbuja-cantidad {
  background-color: #ff6f00;
  color: white;
  font-size: 12px;
  font-weight: bold;

  width: 20px;
  height: 20px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 4px;
  right: 4px;
  box-shadow: 0 0 0 2px white;
}
